<%= @lesson.title %>

<object width="560" height="315">
<param name="movie" value="http://www.youtube.com/v/<%= @lesson.video %>?version=3&hl=ja_JP&enablejsapi=1&playerapiid=ytplayer"></param>
<param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/<%= @lesson.video %>?version=3&hl=ja_JP&enablejsapi=1&playerapiid=ytplayer" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true" id="ytplayer"></embed>
</object>

<div id="chapter">Loading...</div>


<script>
var player;
var timeMap =  new Array();;
var chapterList = new Array();;

function onYouTubePlayerReady(playerId) {
  player = document.getElementById(playerId);
  $.get('<%= lesson_chapters_path(@lesson) %>',function(data){
    $.each(data,function(index,chapter){
      chapterList[chapter.time] = chapter;
    });
    var maxTime = player.getDuration()
    lastChapter = -1
    for(var i=0; i<maxTime; i++){
      if(chapterList[i]){
        lastChapter = i
        timeMap[i] = lastChapter
      }else{
        timeMap[i] = lastChapter
      }
    }
    player.playVideo();
    setInterval("displayCheck()",1000);
    $('#chapter').html("");
  });
}

var currentChapter = -1;
function displayCheck(){
    currentTime = parseInt(player.getCurrentTime());
    if(currentTime){
      currentTime = currentTime - 1;
      chapterNumber = timeMap[currentTime];
      if(chapterNumber != currentChapter ){
        $('#chapter').hide();
        if(chapterNumber > 0){ 
          chapter = chapterList[timeMap[currentTime]];
          $('#chapter').html(chapter.body);
        }else{
          $('#chapter').html("");
        }
        $('#chapter').fadeIn("slow");
        currentChapter = chapterNumber;
      }else{
      }
    }
}

</script>
